body {
    margin: auto;
}

p {
    text-align: left;
    line-height: 150%;
    font-size: 24px;
}

h3 {
    margin-left: 20px;
}

.top-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.nav-list {
    width: 35%;
    align-items: center;
}

.name,.nav-list {
    display: flex;
}

.nav-list-item {
    display: flex;
    width: 33.33%;
    justify-content: center;
    text-align: center;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.about-me {
    display: flex;
    justify-self: flex-start;
}

footer {
    width: 100%;
    height: 30px;
    background-color: darkgray;
    border-style: solid;
    border-color: green;
    border-bottom: none;
    border-right: none;
    border-left: none;
    text-align: center;
    font-size: 8px;
}

.name {
    width: 20%;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding: 20px;
    background-color: green;
    height: 100%;
    text-align: center;
    font-size: 24px;
    align-content: center;
    box-sizing: border-box;
    display: block;
    color: white;
}

/* #horizonitalGreyLine{
    width: 90%;
    height: 10px;
    background-color: green;
    text-align: center;
    margin: 20px;
} */

.page-container {
    display: grid;
}

.top-container {
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    display: flex;
    width: 960px;
}

.background {
    /* background-image: url('../images/wavy-dots.png'); */
    background-image: url('../images/kindajean.jpg');
    display: grid;
    border-top: 1px solid gray;
}

.mainBody {
    margin-top: 20px;
    background-color: white;
    display: block;
    margin: 20px;
    width: 960px;
    justify-self: center;
}

.portrait-section {
    display: block;
    margin: 20px;
}

.continued-content {
    display: inline-flex;
    margin: 20px;
}

.title-bar {
    display: block;
    justify-content: flex-start;
    border-bottom: 1px solid gray;
    margin: 20px;
}

.project {
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 10px;
}

#portrait {
    float: left;
}

.continued-content {
    display: block;
}

.input-field {
    width: 90%;
    margin-left: 20px;
}

.message-form {
    width: 90%;
    height: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.submit-button {
    margin-left: 20px;
    margin-bottom: 20px;
}

.project {
    position: relative;
}

.project-image{
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    position: absolute;

}

.project-title-banner {
    z-index: 1;
    height: 20%;
    width: 100%;
    background-color: green;
    margin: 0;
    padding: 0;
    position: absolute;
    left:0;
    top: 75%;
}